venv
.ipynb_checkpoints
*.ipynb
.env
*.sqlite3
*/migrations/*
!*/migrations/__init__.py
__pycache__
celerybeat-schedule
dump.rdb

# The media directory HAS TO BE PRESENT. Otherwise: Permission errors.
media/*
!media/.gitkeep